<form [formGroup]="addCommentForm" (ngSubmit)="submit()">
    <mat-form-field class="comment-field">
        <textarea matInput cdkTextareaAutosize formControlName="title" placeholder="Comment"></textarea>
        <mat-error *ngIf="addCommentForm.get('title').hasError('required')">
            Comment is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="type" placeholder="Type">
            <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="addCommentForm.get('type').hasError('required')">
            Type is required.
        </mat-error>
    </mat-form-field>

    <button mat-button color="primary" type="submit" [disabled]="addCommentForm.invalid" class="submit-button">
        Submit
    </button>
</form>