<mat-card>
    <mat-card-header>
        <img mat-card-avatar [src]="imgSrc">
        <mat-card-title>
            Last edited:
        </mat-card-title>
        <mat-card-subtitle>
            {{ comment.date | date: 'dd.MM.yyyy, H:mm:ss' }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{ comment.title }}
    </mat-card-content>
    <mat-card-actions *ngIf="isEditable">
        <button mat-button color="primary">Edit</button>
        <button mat-button color="accent" class="delete-button" (click)="deleteComment()">Delete</button>
    </mat-card-actions>
</mat-card>